header {
    margin-top: 5rem;
}
body {
    box-sizing: border-box;
}

.thin-header {
    font-weight: 300;
    letter-spacing: 0.5px;
}

.mt {
    margin-top: 4rem;
}

.tab-view {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.tab-view > a {
    display: block;
    padding: 0.2rem 1rem;
    margin: 0 0.5rem;
}

.tab-view > a,
.tab-view > a:hover,
.tab-view > a:focus,
.tab-view > a:active,
.tab-view > a:visited {
    background-color: var(--muted-border-color);
    color: var(--h6-color);
}

.tab-view > a.active {
    background-color: var(--primary);
    color: var(--white);
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

nav > a {
    cursor: pointer;
}

tbody > tr {
    height: 62px;
}

#profile-header-container {
    margin: auto;
    width: 20rem;
}

#profile-header-container > * {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#profile-img {
    border-radius: 50%;
    border: 4px solid var(--primary);
}

#forget-my-profile-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    background-color: var(--del-color);
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}


@media only screen and (max-width: 990px){
	.fa-star {
        display: none !important;
    }
}


@media only screen and (min-width: 768px){
	figure {
        overflow: hidden;
    }
}

@media only screen and (max-width: 768px){
    tr img {
        display: none;
    }
}
